<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog App</title>
	<!-- CDN Semantic UI -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css">
	<!-- local css stylesheet -->
	<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
</head>
<body>
	
	<!-- navbar -->
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<!-- Title Page -->
			<div class="header item"><i id="logo" class="code icon"></i>Blog Site</div>
			<!-- Secctions -->
			<a class="active item" href="/blogs">Home</a>
  			<a class="item" href="/blogs/new">New Post</a>
  			<!-- find bar -->
  			<div class="right menu">
    			<div class="item">
      				<div class="ui icon input">
        				<input type="text" placeholder="Search..."><i class="search link icon"></i>
        			</div>
    			</div>
    			<a class="ui item">Logout</a>
    		</div>
		</div>
	</div>